*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

$green-bg :#a2a828ab;

.home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 65px;
    .cards_container{
        max-width: 675px;
        margin-top: 20px;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        .card{
            display: flex;
            flex-direction: column;
            outline: 1px solid rgb(211, 211, 211);
            width: auto;
            width: 300px;
            margin: 10px;
            border-radius: 5px;
            cursor: pointer;
            transition: .3s all;
            .card_info__container{
                padding: 5px;
                border-top: 1px solid rgb(211, 211, 211);
            }
            &:hover{
                transform: scale(1.02);
                box-shadow: 0px 0px 10px gray;
            }
            &:hover .card_info__container{
                background-color: $green-bg;
            }
        }
    }
}